<form action="{% url 'main:vote' question.id %}" method="post">
    {% csrf_token %}

    <fieldset>
        <legend> <h1>{{ question.question_text }}</h1> </legend>
        {% if error_message %}
            <p> <strong> {{ error_mesaage }} </strong> </p>
        {% endif %}

        {% for choice in question.choice_set.all %}
            {% with cur_index=forloop.counter %}

                <input type="radio"
                       name="choice"
                       id="choice{{ cur_index }}"
                       value="{{ choice.id }}">
                <label for="choice{{ cur_index }}">
                    {{ choice.choice_text }}
                </label>
            {% endwith %}
        {% endfor %}

    </fieldset>

    <input type="submit" value="Vote">
</form>

{#{% if question.choice_set.count == 0 %}#}
{#    <p> No Choices </p>#}
{#{% else %}#}
{#    <ul>#}
{#        {% for choice in question.choice_set.all %}#}
{#            <li> {{ choice.choice_text }} </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}

